body {
    display : flex;
    flex-direction: column;
  background-color: #2E353F;
  color: white;
}


#popcorn-container {
  position: fixed;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
  z-index: 9999;
}

.popcorn {
  position: absolute;
  top: -50px;
  font-size: 24px;
  animation: fall linear forwards;
  opacity: 0.9;
}

@keyframes fall {
  0% {
    transform: translateY(-50px) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(110vh) rotate(360deg);
    opacity: 0;
  }
}
